In [39]:
import pandas as pd
# If dataset.csv is in the same folder as your script
movies = pd.read_csv('movies.csv')

print(movies)

                     title                                           overview  \
0     Deadpool & Wolverine  A listless Wade Wilson toils away in civilian ...
1             Inside Out 2  Teenager Riley's mind headquarters is undergoi...
2          Despicable Me 4  Gru and Lucy and their girls—Margo, Edith and ...
3                 Twisters  As storm season intensifies, the paths of form...
4                The Union  A New Jersey construction worker goes from reg...
...                    ...                                                ...
9975              She Chef  We’re travelling from luxury kitchen to luxury...
9976            The Forest  Set in the Aokigahara Forest, a real-life plac...
9977          Airport 1975  When an in-flight collision incapacitates the ...
9978      Doomsday Machine  Following the discovery of a doomsday machine ...
9979       I Want You Back  Peter and Emma thought they were on the precip...

                genre_ids release_date                       poster_path  \
0           [28, 35, 878]   2024-07-24  /8cdWjvZQUExUUTzyp4t6EDMubfO.jpg
1     [16, 10751, 12, 35]   2024-06-11  /vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg
2     [16, 10751, 35, 28]   2024-06-20  /wWba3TaojhK7NdycRhoQpsG0FaH.jpg
3        [28, 12, 18, 53]   2024-07-10  /pjnD08FlMAIXsfOLKQbvmO0f0MD.jpg
4                [28, 35]   2024-08-15  /d9CTnTHip1RbVi2OQbA2LJJQAGI.jpg
...                   ...          ...                               ...
9975                 [99]   2023-05-18  /2tysDGy0PWM6snBNYIIlb9tEdqb.jpg
9976       [27, 53, 9648]   2016-01-07  /1TohqCqMbaiuRLJPrPW0vnQP3lE.jpg
9977         [18, 53, 28]   1974-10-18  /etfUuwVCvywq8mGspT94CBeLpSz.jpg
9978                [878]   1972-01-01  /8K2Xho8yK3bFGTCuZcc5Qo420dp.jpg
9979          [35, 10749]   2022-02-10  /AtCGLuDaft5PuELnxaFJf2gxbBd.jpg

           id  popularity  vote_average  vote_count
0      533535    5948.017         7.761        2263
1     1022789    3128.461         7.679        2918
2      519182    2384.852         7.300        1208
3      718821    2251.448         7.039        1031
4      704239    1791.389         6.366         343
...       ...         ...           ...         ...
9975  1037482       8.970         0.000           0
9976   329440      16.498         5.230        1710
9977    27932      16.493         5.700         250
9978   113523       9.772         3.100          26
9979   680860      17.012         6.300         307

[9980 rows x 9 columns]

In [40]:
movies.describe()

                 id   popularity  vote_average    vote_count
count  9.980000e+03  9980.000000   9980.000000   9980.000000
mean   3.567300e+05    40.274377      6.254893   1677.673848
std    4.108795e+05    99.062001      1.621877   3138.666799
min    5.000000e+00     8.970000      0.000000      0.000000
25%    1.150675e+04    19.559250      5.900000    116.750000
50%    1.262430e+05    25.799500      6.549000    519.000000
75%    6.382498e+05    38.857750      7.140500   1764.250000
max    1.330383e+06  5948.017000     10.000000  36170.000000

In [41]:
movies.columns

Index(['title', 'overview', 'genre_ids', 'release_date', 'poster_path', 'id',
       'popularity', 'vote_average', 'vote_count'],
      dtype='object')

In [42]:
#movies['tags'] = movies['overview'] + movies['genre']
movies['tags'] = movies['overview']

In [43]:
#new_data = movies.drop(columns= ['overview', 'genre'])

In [44]:
new_data = movies.head(10000)

In [45]:
new_data

,title,overview,genre_ids,release_date,poster_path,id,popularity,vote_average,vote_count,tags
0,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,"[28, 35, 878]",2024-07-24,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,533535,5948.017,7.761,2263,A listless Wade Wilson toils away in civilian ...
1,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,"[16, 10751, 12, 35]",2024-06-11,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,1022789,3128.461,7.679,2918,Teenager Riley's mind headquarters is undergoi...
2,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...","[16, 10751, 35, 28]",2024-06-20,/wWba3TaojhK7NdycRhoQpsG0FaH.jpg,519182,2384.852,7.300,1208,"Gru and Lucy and their girls—Margo, Edith and ..."
3,Twisters,"As storm season intensifies, the paths of form...","[28, 12, 18, 53]",2024-07-10,/pjnD08FlMAIXsfOLKQbvmO0f0MD.jpg,718821,2251.448,7.039,1031,"As storm season intensifies, the paths of form..."
4,The Union,A New Jersey construction worker goes from reg...,"[28, 35]",2024-08-15,/d9CTnTHip1RbVi2OQbA2LJJQAGI.jpg,704239,1791.389,6.366,343,A New Jersey construction worker goes from reg...
...,...,...,...,...,...,...,...,...,...,...
9975,She Chef,We’re travelling from luxury kitchen to luxury...,[99],2023-05-18,/2tysDGy0PWM6snBNYIIlb9tEdqb.jpg,1037482,8.970,0.000,0,We’re travelling from luxury kitchen to luxury...
9976,The Forest,"Set in the Aokigahara Forest, a real-life plac...","[27, 53, 9648]",2016-01-07,/1TohqCqMbaiuRLJPrPW0vnQP3lE.jpg,329440,16.498,5.230,1710,"Set in the Aokigahara Forest, a real-life plac..."
9977,Airport 1975,When an in-flight collision incapacitates the ...,"[18, 53, 28]",1974-10-18,/etfUuwVCvywq8mGspT94CBeLpSz.jpg,27932,16.493,5.700,250,When an in-flight collision incapacitates the ...
9978,Doomsday Machine,Following the discovery of a doomsday machine ...,[878],1972-01-01,/8K2Xho8yK3bFGTCuZcc5Qo420dp.jpg,113523,9.772,3.100,26,Following the discovery of a doomsday machine ...
9979,I Want You Back,Peter and Emma thought they were on the precip...,"[35, 10749]",2022-02-10,/AtCGLuDaft5PuELnxaFJf2gxbBd.jpg,680860,17.012,6.300,307,Peter and Emma thought they were on the precip...

In [46]:
num_duplicates = new_data.duplicated().sum()
num_duplicates

np.int64(1524)

In [47]:
df = new_data[new_data['title'] == "Iron Man 2"]

In [48]:
duplicate_rows = new_data[new_data.duplicated()]
print(duplicate_rows)

                               title  \
100                  The Last Breath
105                    Kalki 2898-AD
111                      Unang Tikim
125                            Atlas
126                            Dange
...                              ...
9960           An Inconvenient Truth
9961              Heart of Champions
9962        The Christmas Chronicles
9963                 God of Gamblers
9964  We're Back! A Dinosaur's Story

                                               overview            genre_ids  \
100   A group of old college friends reunite on a Ca...             [53, 27]
105   In the year 2898 AD, around 6000 years after K...    [18, 28, 14, 878]
111   Yuna, a woman engaged with her long time boyfr...          [10749, 18]
125   A brilliant counterterrorism analyst with a de...            [878, 28]
126   Former friends Xavier and Yuva meet again in c...         [28, 18, 53]
...                                                 ...                  ...
9960  A documentary on Al Gore's campaign to make th...                 [99]
9961  During their last year at an Ivy League colleg...                 [18]
9962  Siblings Kate and Teddy try to prove Santa Cla...  [35, 12, 10751, 14]
9963  Ko Chun is an extremely talented and well know...         [28, 35, 18]
9964  Captain New Eyes travels back in time and feed...     [16, 878, 10751]

     release_date                       poster_path       id  popularity  \
100    2024-06-28  /vWb8fEIsqKpO36Y7K5QH4DyV7zn.jpg  1241674     227.478
105    2024-06-26  /zNE88KjSX2nDSWjdsNqeIFGAXo8.jpg   801688     222.009
111    2024-07-07  /oDWZS6LznvdH7mZOYfCro0ISJCM.jpg  1308821     212.307
125    2024-05-23  /bcM2Tl5HlsvPBnL8DKP9Ie6vU4r.jpg   614933     205.354
126    2024-03-01  /4dJ0ktBUmnrAIw6i1p61WTTbz3H.jpg  1236671     214.503
...           ...                               ...      ...         ...
9960   2006-05-24   /zrYT5UHE2UIsofwkv6KK2Tsu5a.jpg     1781      20.958
9961   2021-09-16  /yhBhe8DjdFspNjMOyrqD8i9Gy60.jpg   647581      14.782
9962   2018-11-22  /5Il2EMSF2KecrUKZPuen6BZmaCP.jpg   527435      20.950
9963   1989-12-14  /lmAVK6B4uR8xgYTytjvAfoLuEBG.jpg    16269      20.950
9964   1993-11-24  /iyFmhYlioe3PDZjSKWtcIhu5R02.jpg    18890      15.744

      vote_average  vote_count  \
100          6.600          49
105          6.581          43
111          1.000           1
125          6.848        1094
126          3.000           1
...            ...         ...
9960         6.978         850
9961         6.390          59
9962         7.200        2098
9963         7.250         146
9964         6.048         408

                                                   tags
100   A group of old college friends reunite on a Ca...
105   In the year 2898 AD, around 6000 years after K...
111   Yuna, a woman engaged with her long time boyfr...
125   A brilliant counterterrorism analyst with a de...
126   Former friends Xavier and Yuva meet again in c...
...                                                 ...
9960  A documentary on Al Gore's campaign to make th...
9961  During their last year at an Ivy League colleg...
9962  Siblings Kate and Teddy try to prove Santa Cla...
9963  Ko Chun is an extremely talented and well know...
9964  Captain New Eyes travels back in time and feed...

[1524 rows x 10 columns]

In [49]:
new_data = new_data.drop_duplicates()

In [50]:
new_data.shape

(8456, 10)

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

In [52]:
cv = CountVectorizer(max_features = 8000, stop_words = 'english')

In [53]:
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [54]:
vector.shape

(8456, 8000)

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

In [56]:
similarity = cosine_similarity(vector)

In [57]:
similarity

array([[1.        , 0.        , 0.0378777 , ..., 0.        , 0.        ,
        0.04428074],
       [0.        , 1.        , 0.05902813, ..., 0.        , 0.        ,
        0.03450328],
       [0.0378777 , 0.05902813, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.04428074, 0.03450328, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [58]:
similarity.shape

(8456, 8456)

In [59]:
distance = sorted(list(enumerate(similarity[2])), reverse = True, key = lambda vector:vector[1])

for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

Despicable Me 4
Migration
Despicable Me 2
Are You There God? It's Me, Margaret.
Despicable Me 3

In [60]:
def recommand(movies):
    index = new_data[new_data['title'] == movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse = True, key = lambda vector:vector[1])
    for i in distance[0:10]:
        print(new_data.iloc[i[0]].title)

In [61]:
recommand("Iron Man")

Iron Man 2
Spider-Man: Homecoming
Iron Man
Raising Helen
Wonder Woman
The Medusa Touch
Fist of the North Star
Last Riot
A-X-L
Mr. Destiny

In [62]:
import pickle
import gzip

In [63]:
with gzip.open('similarity.pkl.gz', 'wb') as f:
    pickle.dump(similarity, f)

In [64]:
pickle.dump(new_data, open("movies_list.pkl" , 'wb'))

In [65]:
new_data.head(5)

,title,overview,genre_ids,release_date,poster_path,id,popularity,vote_average,vote_count,tags
0,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,"[28, 35, 878]",2024-07-24,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,533535,5948.017,7.761,2263,A listless Wade Wilson toils away in civilian ...
1,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,"[16, 10751, 12, 35]",2024-06-11,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,1022789,3128.461,7.679,2918,Teenager Riley's mind headquarters is undergoi...
2,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...","[16, 10751, 35, 28]",2024-06-20,/wWba3TaojhK7NdycRhoQpsG0FaH.jpg,519182,2384.852,7.300,1208,"Gru and Lucy and their girls—Margo, Edith and ..."
3,Twisters,"As storm season intensifies, the paths of form...","[28, 12, 18, 53]",2024-07-10,/pjnD08FlMAIXsfOLKQbvmO0f0MD.jpg,718821,2251.448,7.039,1031,"As storm season intensifies, the paths of form..."
4,The Union,A New Jersey construction worker goes from reg...,"[28, 35]",2024-08-15,/d9CTnTHip1RbVi2OQbA2LJJQAGI.jpg,704239,1791.389,6.366,343,A New Jersey construction worker goes from reg...

In [66]:
recommand("Twisters")

Twisters
Napoléon
The Perfect Storm
Supercell
Jurassic World Camp Cretaceous: Hidden Adventure
Plane
Deep Blue Sea
Black Water: Abyss
Into the Storm
Wild Seas