In [22]:
import pandas as pd
# If dataset.csv is in the same folder as your script
movies = pd.read_csv('movies.csv')

print(movies)

                     title                                           overview  \
0     Deadpool & Wolverine  A listless Wade Wilson toils away in civilian ...
1             Inside Out 2  Teenager Riley's mind headquarters is undergoi...
2          Despicable Me 4  Gru and Lucy and their girls—Margo, Edith and ...
3                 Twisters  As storm season intensifies, the paths of form...
4                The Union  A New Jersey construction worker goes from reg...
...                    ...                                                ...
9975              She Chef  We’re travelling from luxury kitchen to luxury...
9976            The Forest  Set in the Aokigahara Forest, a real-life plac...
9977          Airport 1975  When an in-flight collision incapacitates the ...
9978      Doomsday Machine  Following the discovery of a doomsday machine ...
9979       I Want You Back  Peter and Emma thought they were on the precip...

                genre_ids release_date                       poster_path  \
0           [28, 35, 878]   2024-07-24  /8cdWjvZQUExUUTzyp4t6EDMubfO.jpg
1     [16, 10751, 12, 35]   2024-06-11  /vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg
2     [16, 10751, 35, 28]   2024-06-20  /wWba3TaojhK7NdycRhoQpsG0FaH.jpg
3        [28, 12, 18, 53]   2024-07-10  /pjnD08FlMAIXsfOLKQbvmO0f0MD.jpg
4                [28, 35]   2024-08-15  /d9CTnTHip1RbVi2OQbA2LJJQAGI.jpg
...                   ...          ...                               ...
9975                 [99]   2023-05-18  /2tysDGy0PWM6snBNYIIlb9tEdqb.jpg
9976       [27, 53, 9648]   2016-01-07  /1TohqCqMbaiuRLJPrPW0vnQP3lE.jpg
9977         [18, 53, 28]   1974-10-18  /etfUuwVCvywq8mGspT94CBeLpSz.jpg
9978                [878]   1972-01-01  /8K2Xho8yK3bFGTCuZcc5Qo420dp.jpg
9979          [35, 10749]   2022-02-10  /AtCGLuDaft5PuELnxaFJf2gxbBd.jpg

           id  popularity  vote_average  vote_count
0      533535    5948.017         7.761        2263
1     1022789    3128.461         7.679        2918
2      519182    2384.852         7.300        1208
3      718821    2251.448         7.039        1031
4      704239    1791.389         6.366         343
...       ...         ...           ...         ...
9975  1037482       8.970         0.000           0
9976   329440      16.498         5.230        1710
9977    27932      16.493         5.700         250
9978   113523       9.772         3.100          26
9979   680860      17.012         6.300         307

[9980 rows x 9 columns]

In [23]:
movies.describe()

                 id   popularity  vote_average    vote_count
count  9.980000e+03  9980.000000   9980.000000   9980.000000
mean   3.567300e+05    40.274377      6.254893   1677.673848
std    4.108795e+05    99.062001      1.621877   3138.666799
min    5.000000e+00     8.970000      0.000000      0.000000
25%    1.150675e+04    19.559250      5.900000    116.750000
50%    1.262430e+05    25.799500      6.549000    519.000000
75%    6.382498e+05    38.857750      7.140500   1764.250000
max    1.330383e+06  5948.017000     10.000000  36170.000000

In [24]:
movies.columns

Index(['title', 'overview', 'genre_ids', 'release_date', 'poster_path', 'id',
       'popularity', 'vote_average', 'vote_count'],
      dtype='object')

In [25]:
#movies['tags'] = movies['overview'] + movies['genre']
movies['tags'] = movies['overview']

In [26]:
#new_data = movies.drop(columns= ['overview', 'genre'])

In [27]:
new_data = movies.head(10000)

In [28]:
new_data

,title,overview,genre_ids,release_date,poster_path,id,popularity,vote_average,vote_count,tags
0,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,"[28, 35, 878]",2024-07-24,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,533535,5948.017,7.761,2263,A listless Wade Wilson toils away in civilian ...
1,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,"[16, 10751, 12, 35]",2024-06-11,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,1022789,3128.461,7.679,2918,Teenager Riley's mind headquarters is undergoi...
2,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...","[16, 10751, 35, 28]",2024-06-20,/wWba3TaojhK7NdycRhoQpsG0FaH.jpg,519182,2384.852,7.300,1208,"Gru and Lucy and their girls—Margo, Edith and ..."
3,Twisters,"As storm season intensifies, the paths of form...","[28, 12, 18, 53]",2024-07-10,/pjnD08FlMAIXsfOLKQbvmO0f0MD.jpg,718821,2251.448,7.039,1031,"As storm season intensifies, the paths of form..."
4,The Union,A New Jersey construction worker goes from reg...,"[28, 35]",2024-08-15,/d9CTnTHip1RbVi2OQbA2LJJQAGI.jpg,704239,1791.389,6.366,343,A New Jersey construction worker goes from reg...
...,...,...,...,...,...,...,...,...,...,...
9975,She Chef,We’re travelling from luxury kitchen to luxury...,[99],2023-05-18,/2tysDGy0PWM6snBNYIIlb9tEdqb.jpg,1037482,8.970,0.000,0,We’re travelling from luxury kitchen to luxury...
9976,The Forest,"Set in the Aokigahara Forest, a real-life plac...","[27, 53, 9648]",2016-01-07,/1TohqCqMbaiuRLJPrPW0vnQP3lE.jpg,329440,16.498,5.230,1710,"Set in the Aokigahara Forest, a real-life plac..."
9977,Airport 1975,When an in-flight collision incapacitates the ...,"[18, 53, 28]",1974-10-18,/etfUuwVCvywq8mGspT94CBeLpSz.jpg,27932,16.493,5.700,250,When an in-flight collision incapacitates the ...
9978,Doomsday Machine,Following the discovery of a doomsday machine ...,[878],1972-01-01,/8K2Xho8yK3bFGTCuZcc5Qo420dp.jpg,113523,9.772,3.100,26,Following the discovery of a doomsday machine ...
9979,I Want You Back,Peter and Emma thought they were on the precip...,"[35, 10749]",2022-02-10,/AtCGLuDaft5PuELnxaFJf2gxbBd.jpg,680860,17.012,6.300,307,Peter and Emma thought they were on the precip...

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

In [30]:
cv = CountVectorizer(max_features = 8000, stop_words = 'english')

In [31]:
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [32]:
vector.shape

(9980, 8000)

In [33]:
from sklearn.metrics.pairwise import cosine_similarity

In [34]:
similarity = cosine_similarity(vector)

In [35]:
similarity

array([[1.        , 0.        , 0.03904344, ..., 0.        , 0.        ,
        0.04564355],
       [0.        , 1.        , 0.05902813, ..., 0.        , 0.        ,
        0.03450328],
       [0.03904344, 0.05902813, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.04564355, 0.03450328, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [36]:
similarity.shape

(9980, 9980)

In [37]:
distance = sorted(list(enumerate(similarity[2])), reverse = True, key = lambda vector:vector[1])

for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

Despicable Me 4
Migration
Despicable Me 2
Are You There God? It's Me, Margaret.
Are You There God? It's Me, Margaret.

In [38]:
def recommand(movies):
    index = new_data[new_data['title'] == movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse = True, key = lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [39]:
recommand("Iron Man")

Iron Man
Clown
Iron Man 2
Iron Man 2
Hellblazers

In [40]:
import pickle
import gzip

In [41]:
with gzip.open('similarity.pkl.gz', 'wb') as f:
    pickle.dump(similarity, f)

In [42]:
pickle.dump(new_data, open("movies_list.pkl" , 'wb'))